/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none; /* tira o sublinhado */
    color: inherit; /* tira o esquema de cores */
}

ul, ol, li{
    list-style: none;
}

/* fim do reset */

body {
    height: 100vh; /* altura da página */
    display: flex;
    flex-direction: column; /* deixa os elementos um em cima do outro */
    padding-inline: 80px;
}

header{
    height: 200px;
    display: flex;
    justify-content: space-between; /* dá um espaço entre cada elemento */
    align-items: center;
}

.logo{
    height: 80px;
    width: 80px;
    background-image: url(./imagens/Medo.webp);
    background-size: contain;
    background-repeat: no-repeat;
}

.menu ul{
    display: flex;
    gap: 32px;
    font-size: 32px;
}

main{
    flex-grow: 1;
    display: flex;
}

.conteudo{
    width: 50%;
    padding-right: 128px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.conteudo h1 {
    font-size: 80px;
    font-family: "Inria Sans", sans-serif;
}

.conteudo p {
    font-size: 48px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.conteudo button {
    height: 64px;
    width: 300px;
    font-size: 32px;
    background-color: black;
    color: white;
    font-family: "Inria Sans", sans-serif;
}
.social {
    display: flex;
    justify-content: space-between;
}

.social :nth-child(1) {
    background-image: url(./imagens/x.avif);
    background-size: contain;
}

.social :nth-child(2) {
    background-image: url(./imagens/pinterest.png);
    background-size: contain;
}

.social :nth-child(3) {
    background-image: url(./imagens/tiktok.webp);
    background-size: contain;
}

.social div{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: lightgray;
}
.destaque{
    width: 50%;
    background-image: url(./imagens/FiGP_41WAAMLeHR.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

footer{
    height: 100px;
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    color: rgba(72, 72, 72, 0.454)
}