/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none; /* tira o sublinhado */
    color: inherit; /* tira o esquema de cores */
}

ul, ol, li{
    list-style: none;
}

/* fim do reset */

body {
    height: 100vh; /* altura da página */
    display: flex;
    flex-direction: column; /* deixa os elementos um em cima do outro */
    padding-inline: 80px;
}

header{
    height: 200px;
    display: flex;
    justify-content: space-between; /* dá um espaço entre cada elemento */
    align-items: center;
}

.logo{
    height: 80px;
    width: 80px;
    background-color: lightgreen;
}

.menu ul{
    display: flex;
    gap: 32px;
    font-size: 32px;
}

main{
    flex-grow: 1;
    display: flex;
}

.conteudo{
    width: 50%;
    background-color: tomato;
    padding-right: 128px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.conteudo h1 {
    font-size: 80px;
}

.conteudo p {
    font-size: 48px;
}

.conteudo button {
    height: 64px;
    width: 300px;
    font-size: 32px;
    background-color: black;
    color: white
}
.social {
    display: flex;
    justify-content: space-between;
}
.social div{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: lightgray;
}
.destaque{
    width: 50%;
    background-color: lightgray;
}

footer{
    height: 100px;
    background-color: lightgoldenrodyellow;
}