/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none; /* tira o sublinhado */
    color: inherit; /* tira o esquema de cores */
}

ul, ol, li{
    list-style: none;
}

/* fim do reset */

body {
    height: 100vh; /* altura da página */
    display: flex;
    flex-direction: column;
}

header{
    height: 200px;
    background-color: lightblue;
}

main{
    flex-grow: 1;
    background-color: plum;
}

footer{
    height: 100px;
    background-color: lightgoldenrodyellow;
}